body {
  background-color: antiquewhite;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#center-vsetko {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  padding: 0.5rem;
}

#urokova-kalkulacka {
  margin: 1rem;
  width: 80vw;
  height: 70vh;
  border-radius: 25px;
  border: 1px solid rgba(122, 79, 79, 0.25);
  box-shadow: 0px 10px 20px 5px rgb(158, 149, 107);
}
div {
  padding: 0.5rem;
}

.nadpis {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 2rem;
  width: 10rem;
  cursor: pointer;
}
.uver,
.percento,
.mesiac {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.tabulkovy-prehlad {
  display: flex;
}
#splatka,
#celkom,
#navysenie {
  width: 30%;
  height: 5rem;
  border-radius: 15px;
  margin: 5px;
  font-size: 1.5rem;
}
#splatka {
  background-color: #e6c8a2;
}

#celkom {
  background-color: rgb(206, 181, 149);
}
#navysenie {
  background-color: rgb(218, 185, 141);
}
h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(75, 75, 99);
  padding: 0.5rem;
}
